.img1 {
position: absolute;
width: 263px;
height: 159px;
left: 70px;
top: 50px; }
.info {
position: absolute;
width: 280px;
height: 170px;
left: 360px;
top: 65px;
margin: 0px;
padding: 0px;
font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
text-align: left;
line-height: normal;
color: #303030;
font-size: 16px; }
.inf1 {
position: relative;
width: 280px;
font-size: 20px;
font-weight: bold; }
.inf2 {
position: relative;
width: 280px;
font-size: 16px; }
.gmap {
position: absolute;
width: 546px;
height: 546px;
top: 220px;
left: 50px;
margin: 0px;
border:2px solid gray;
padding: 0px; }
